In [1]:
import pandas

def main():
    pandas.set_option('display.max_columns', None)

    movies_content = pandas.read_table('DataSet/movies.dat', sep = '::', encoding = 'ISO-8859-1', engine = 'python')
    ratings_content = pandas.read_table('DataSet/ratings.dat', sep = '::', encoding = 'ISO-8859-1', engine = 'python')
    users_content = pandas.read_table('DataSet/users.dat', sep = '::', encoding = 'ISO-8859-1', engine = 'python')

    merged_table = ratings_content.merge(movies_content, right_on = 'MovieID', left_on = 'MovieID')
    merged_table = merged_table.merge(users_content, right_on = 'UserID', left_on = 'UserID')


    kid_raitings = merged_table.query("Age >= 1 & Age <= 11")              #range 1-11
    teen_raitings = merged_table.query("Age >= 12 & Age <= 17")            #range 12-17    
    youth_raitings = merged_table.query("Age >= 18 & Age <= 29")           #range 18-29
    adults_raitings = merged_table.query("Age >= 30 & Age <= 54")          #range 30-54
    old_raitings = merged_table.query("Age >= 55")                         #range 55-...

    male_raitings = merged_table.query("Sex == 'M'")
    female_raitings = merged_table.query("Sex == 'F'")

    print(f"All male:\n{male_raitings[['Rating', 'Title']].groupby('Title').sum().sort_values(by = ['Rating'], ascending = False).head(10)}\n")
    print(f"All female:\n{female_raitings[['Rating', 'Title']].groupby('Title').sum().sort_values(by = ['Rating'], ascending = False).head(10)}\n")

    all_ages_table = {
        11 : kid_raitings,
        17 : teen_raitings,
        29 : youth_raitings,
        54 : adults_raitings,
        55 : old_raitings
    }

    index = 0
    for table in all_ages_table.values() :

        age = list(all_ages_table.keys())[index]
        index += 1

        msg = 'under' if age < 55 else 'older then'

        male_age_raitings = table.query("Sex == 'M'")
        female_age_raitings = table.query("Sex == 'F'")

        male_age_raitings = male_age_raitings[['Rating', 'Title']].groupby('Title').sum().sort_values(by = ['Rating'], ascending = False).head(10)
        female_age_raitings = female_age_raitings[['Rating', 'Title']].groupby('Title').sum().sort_values(by = ['Rating'], ascending = False).head(10)

        print(f"All male {msg} {age} years:\n{male_age_raitings}\n")
        print(f"All female {msg} {age} years:\n{female_age_raitings}\n")





if __name__ == '__main__' :
    main()

All male:
                                                    Rating
Title
American Beauty (1999)                               10790
Star Wars: Episode IV - A New Hope (1977)            10537
Star Wars: Episode V - The Empire Strikes Back ...   10175
Saving Private Ryan (1998)                            9141
Star Wars: Episode VI - Return of the Jedi (1983)     9074
Matrix, The (1999)                                    9056
Terminator 2: Judgment Day (1991)                     9025
Raiders of the Lost Ark (1981)                        8779
Silence of the Lambs, The (1991)                      8203
Braveheart (1995)                                     8153

All female:
                                                    Rating
Title
American Beauty (1999)                                4010
Shakespeare in Love (1998)                            3337
Silence of the Lambs, The (1991)                      3016
Sixth Sense, The (1999)                               2973
Shawshank Redemption, The (1994)                      2846
Schindler's List (1993)                               2806
Star Wars: Episode IV - A New Hope (1977)             2784
Fargo (1996)                                          2771
Princess Bride, The (1987)                            2762
Star Wars: Episode V - The Empire Strikes Back ...    2661

All male under 11 years:
                                                    Rating
Title
Matrix, The (1999)                                     368
Sixth Sense, The (1999)                                335
Star Wars: Episode IV - A New Hope (1977)              327
Star Wars: Episode VI - Return of the Jedi (1983)      315
Star Wars: Episode V - The Empire Strikes Back ...     308
Saving Private Ryan (1998)                             302
American Beauty (1999)                                 287
Toy Story (1995)                                       280
Men in Black (1997)                                    270
Toy Story 2 (1999)                                     264

All female under 11 years:
                                   Rating
Title
Toy Story (1995)                      159
Toy Story 2 (1999)                    152
Shakespeare in Love (1998)            141
Aladdin (1992)                        136
Sixth Sense, The (1999)               131
Forrest Gump (1994)                   128
Bug's Life, A (1998)                  124
E.T. the Extra-Terrestrial (1982)     122
American Beauty (1999)                121
Babe (1995)                           116

All male under 17 years:
Empty DataFrame
Columns: [Rating]
Index: []

All female under 17 years:
Empty DataFrame
Columns: [Rating]
Index: []

All male under 29 years:
                                                    Rating
Title
American Beauty (1999)                                6640
Star Wars: Episode V - The Empire Strikes Back ...    6208
Star Wars: Episode IV - A New Hope (1977)             6163
Matrix, The (1999)                                    5800
Star Wars: Episode VI - Return of the Jedi (1983)     5581
Terminator 2: Judgment Day (1991)                     5476
Saving Private Ryan (1998)                            5390
Raiders of the Lost Ark (1981)                        5181
Braveheart (1995)                                     5101
Silence of the Lambs, The (1991)                      4971

All female under 29 years:
                                                    Rating
Title
American Beauty (1999)                                2370
Shakespeare in Love (1998)                            1770
Princess Bride, The (1987)                            1762
Silence of the Lambs, The (1991)                      1745
Sixth Sense, The (1999)                               1657
Shawshank Redemption, The (1994)                      1630
Star Wars: Episode V - The Empire Strikes Back ...    1527
Fargo (1996)                                          1521
Star Wars: Episode IV - A New Hope (1977)             1483
Being John Malkovich (1999)                           1475

All male under 54 years:
                                                    Rating
Title
Star Wars: Episode IV - A New Hope (1977)             3652
American Beauty (1999)                                3324
Star Wars: Episode V - The Empire Strikes Back ...    3270
Terminator 2: Judgment Day (1991)                     3068
Saving Private Ryan (1998)                            3043
Godfather, The (1972)                                 2998
Raiders of the Lost Ark (1981)                        2985
Jurassic Park (1993)                                  2820
Star Wars: Episode VI - Return of the Jedi (1983)     2813
Fargo (1996)                                          2766

All female under 54 years:
                                                    Rating
Title
American Beauty (1999)                                1302
Shakespeare in Love (1998)                            1256
Silence of the Lambs, The (1991)                      1104
Star Wars: Episode IV - A New Hope (1977)             1099
Fargo (1996)                                          1086
Schindler's List (1993)                               1067
Sixth Sense, The (1999)                               1065
Casablanca (1942)                                     1050
Shawshank Redemption, The (1994)                      1018
Star Wars: Episode V - The Empire Strikes Back ...     980

All male older then 55 years:
                                                    Rating
Title
American Beauty (1999)                                 539
Schindler's List (1993)                                435
Godfather, The (1972)                                  415
Saving Private Ryan (1998)                             406
Fargo (1996)                                           401
Star Wars: Episode IV - A New Hope (1977)              395
Silence of the Lambs, The (1991)                       394
Shakespeare in Love (1998)                             390
Star Wars: Episode V - The Empire Strikes Back ...     389
Butch Cassidy and the Sundance Kid (1969)              374

All female older then 55 years:
                                        Rating
Title
American Beauty (1999)                     217
Schindler's List (1993)                    198
One Flew Over the Cuckoo's Nest (1975)     173
Shakespeare in Love (1998)                 170
Gone with the Wind (1939)                  168
Shawshank Redemption, The (1994)           139
Forrest Gump (1994)                        138
Saving Private Ryan (1998)                 131
Godfather, The (1972)                      130
Wizard of Oz, The (1939)                   125